IhaleMeydani/IM.PresentationLayer/Connected Services/IhaleWCFService/IhaleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IM.DataLayer.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IM.DataLayer.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPostModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostModel" nillable="true" type="tns:PostModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostModel" nillable="true" type="tns:ArrayOfPostModel" />
  <xs:complexType name="PostModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Post_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Post_id" type="xs:int" />
      <xs:element minOccurs="0" name="content_id" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="image_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image_path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image_subtitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image_title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="media_id" type="xs:int" />
      <xs:element minOccurs="0" name="submit_article" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="submit_id" type="xs:int" />
      <xs:element minOccurs="0" name="users_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostModel" nillable="true" type="tns:PostModel" />
  <xs:complexType name="ArrayOfUserProductModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserProductModel" nillable="true" type="tns:UserProductModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserProductModel" nillable="true" type="tns:ArrayOfUserProductModel" />
  <xs:complexType name="UserProductModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarBrandId" type="xs:int" />
      <xs:element minOccurs="0" name="CarBrandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarDetailId" type="xs:int" />
      <xs:element minOccurs="0" name="CarHardwareDetailsId" type="xs:int" />
      <xs:element minOccurs="0" name="CarMakeId" type="xs:int" />
      <xs:element minOccurs="0" name="CarMakeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarTechnicalDetailId" type="xs:int" />
      <xs:element minOccurs="0" name="CarVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColorId" type="xs:int" />
      <xs:element minOccurs="0" name="ColorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColorValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EngineDisplacement" type="xs:int" />
      <xs:element minOccurs="0" name="FuelTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="FuelTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GearTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="GearTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HP" type="xs:int" />
      <xs:element minOccurs="0" name="HardwareDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicancePlate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mileage" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SegmentId" type="xs:int" />
      <xs:element minOccurs="0" name="SegmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date_of_created" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="date_of_updated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="isSaled" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isdeleted" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="published_on" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="registrationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProductModel" nillable="true" type="tns:UserProductModel" />
  <xs:complexType name="ArrayOfActionUserModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActionUserModel" nillable="true" type="tns:ActionUserModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActionUserModel" nillable="true" type="tns:ArrayOfActionUserModel" />
  <xs:complexType name="ActionUserModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DATE_OF_UPDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="auction_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="bid" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActionUserModel" nillable="true" type="tns:ActionUserModel" />
  <xs:complexType name="ArrayOfUserAuctionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserAuctionModel" nillable="true" type="tns:UserAuctionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserAuctionModel" nillable="true" type="tns:ArrayOfUserAuctionModel" />
  <xs:complexType name="UserAuctionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACUTION_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ACUTION_SALES_TIME" type="xs:int" />
      <xs:element minOccurs="0" name="AoFID" type="xs:int" />
      <xs:element minOccurs="0" name="CURRENCY_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CarBrandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarDetailId" type="xs:int" />
      <xs:element minOccurs="0" name="DATE_OF_UPDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="INCREASE_PRICE" type="xs:decimal" />
      <xs:element minOccurs="0" name="LicancePlate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAX_PRICE" type="xs:decimal" />
      <xs:element minOccurs="0" name="MIN_PRICE" type="xs:decimal" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date_of_created" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="isSaled" type="xs:boolean" />
      <xs:element minOccurs="0" name="isdeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="published_on" type="xs:boolean" />
      <xs:element minOccurs="0" name="userid" type="xs:int" />
      <xs:element minOccurs="0" name="userproductID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAuctionModel" nillable="true" type="tns:UserAuctionModel" />
</xs:schema>