IhaleMeydani/IM.PresentationLayer/Connected Services/IhaleWCFService/IhaleService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IM.DataLayer.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IM.DataLayer.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserProductModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserProductModel" nillable="true" type="tns:UserProductModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserProductModel" nillable="true" type="tns:ArrayOfUserProductModel" />
  <xs:complexType name="UserProductModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarBrandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarMakeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColorValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EngineDisplacement" type="xs:int" />
      <xs:element minOccurs="0" name="FuelTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GearTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HP" type="xs:int" />
      <xs:element minOccurs="0" name="HardwareDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicancePlate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mileage" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date_of_created" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="date_of_updated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="isdeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="published_on" type="xs:boolean" />
      <xs:element minOccurs="0" name="registrationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProductModel" nillable="true" type="tns:UserProductModel" />
  <xs:complexType name="ArrayOfActionUserModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActionUserModel" nillable="true" type="tns:ActionUserModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActionUserModel" nillable="true" type="tns:ArrayOfActionUserModel" />
  <xs:complexType name="ActionUserModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DATE_OF_UPDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="auction_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="bid" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActionUserModel" nillable="true" type="tns:ActionUserModel" />
</xs:schema>