IhaleMeydani/IM.PresentationLayer/Connected Services/IhaleWCFService/IhaleService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IM.DataLayer.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IM.DataLayer.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserProductModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserProductModel" nillable="true" type="tns:UserProductModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserProductModel" nillable="true" type="tns:ArrayOfUserProductModel" />
  <xs:complexType name="UserProductModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="EngineDisplacement" type="xs:int" />
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="carmake" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="colorname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="colorvalue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fueltype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="geartype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hardwaredetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hp" type="xs:int" />
      <xs:element minOccurs="0" name="licanceplate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mileage" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="registrationdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="segment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProductModel" nillable="true" type="tns:UserProductModel" />
</xs:schema>